// Color Cube
$color-a: #1f2154;
$color-b: #bcbcbc;
$color-c: #1fad96;
$color-d: #febc4d;
$color-e: #6c6c6c;
$color-f: #e25a6d;
$color-g: #7355e7;
$color-h: #cc1b17;
$color-a: #1f9efb;

//median cut
$rhino: #293259;
$hint: #f6f3f6;
$coral: #a65e6d;
$gray: #9da1aa;
$anzac: #e2a957;

//material design
$blue_m: #6a5ad0;
$shady:#9b999b;
$jungle: #27ab94;
$corduray: #616865;
$ronchi: #efb056;

